<?xml version="1.0"?>
<!--
/**
 * Copyright © Mage-OS. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="mageos_passkey_flag_new_account"
                  instance="MageOS\PasskeyAuth\Observer\FlagNewAccount"/>
    </event>
</config>
