<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="passkey" translate="label" sortOrder="75"
                   showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Passkey Authentication</label>

                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Passkey Authentication</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="prompt_after_login" translate="label comment" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Prompt After Password Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show a passkey enrollment banner on account pages after a customer logs in with their password.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="prompt_on_registration" translate="label comment" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Prompt After Account Creation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show a passkey enrollment banner on account pages after a new customer account is created.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
